@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.RedevText {
  padding-top: 20px;
  font-family: "Audiowide", cursive;
  color: rgb(104, 20, 20);
  height: 100%;
}

.stylish {
  font-size: 6rem;
}

.Text {
  text-shadow: -1px 1px 0 #41ba45, 1px 1px 0 #c63d2b, 1px -1px 0 #42afac,
    -1px -1px 0 #c6c23f;
  animation: rise 2s ease-in-out 0.5s forwards;
}

.Text:hover {
  text-shadow: 10px 10px 25px rgb(81, 67, 21), -10px 10px 25px rgb(81, 67, 21),
    -10px -10px 25px rgb(81, 67, 21), 10px -10px 25px rgb(81, 67, 21);
}

@keyframes Text {
  to {
    text-shadow: 0em 0.01em #ff5, 0em 0.02em #ff5, 0em 0.02em 0.03em #ff5,
      -0.01em 0.01em #333, -0.02em 0.02em #333, -0.03em 0.03em #333,
      -0.04em 0.04em #333, -0.01em -0.01em 0.03em #000,
      -0.02em -0.02em 0.03em #000, -0.03em -0.03em 0.03em #000;
    transform: translateY(-0.025em) translateX(0.04em);
  }
}
